In [2]:
import pandas as pd

In [5]:
odom_pos = pd.read_json('../tmp_datas/odom_pos.json')
real_pos = pd.read_json('../tmp_datas/real_pos.json')

In [14]:
print(odom_pos.shape)
print(real_pos.shape)

(14057, 3)
(117228, 3)

In [15]:
odom_pos.head()

           time         x             y
0  156501000000  0.000045  1.870320e-09
1  156501000000  0.000045  1.870320e-09
2  156521000000  0.000045  1.871564e-09
3  156521000000  0.000045  1.871564e-09
4  156541000000  0.000045  1.872945e-09

In [16]:
odom_pos.tail()

               time         x         y
14052  273621000000  6.235864  4.609608
14053  273621000000  6.235864  4.609608
14054  273641000000  6.235864  4.609608
14055  273641000000  6.235864  4.609608
14056  273648000000  6.235864  4.609608

In [17]:
real_pos.head()

           time         x         y
0  156439000000  4.999894  2.299489
1  156439000000  4.999894  2.299489
2  156439000000  4.999894  2.299489
3  156439000000  4.999894  2.299489
4  156439000000  4.999894  2.299489

In [19]:
real_pos.tail()

                time         x         y
117223  273656000000 -1.175402 -2.445037
117224  273657000000 -1.175405 -2.445035
117225  273658000000 -1.175409 -2.445033
117226  273659000000 -1.175412 -2.445031
117227  273660000000 -1.175415 -2.445029

In [58]:
threshold = 3000000

tmp_list = []
for idx, row in odom_pos.iterrows():
    min_t = row['time'] - threshold
    max_t = row['time'] + threshold
#     print(real_pos[])
    df = real_pos[(real_pos['time']>min_t) & (real_pos['time']<max_t)].copy()
    real_xy = df[["x", "y"]].mean()
    tmp_list.append({
        "time": row['time'],
        "odom_x": row['x'],
        "odom_y": row['y'],
        "real_x": real_xy.x,
        "real_y": real_xy.y,
    })
df_odom_And_real = pd.DataFrame(tmp_list)
df_odom_And_real

         odom_x        odom_y    real_x    real_y          time
0      0.000045  1.870320e-09  4.999894  2.299488  1.565010e+11
1      0.000045  1.870320e-09  4.999894  2.299488  1.565010e+11
2      0.000045  1.871564e-09  4.999894  2.299488  1.565210e+11
3      0.000045  1.871564e-09  4.999894  2.299488  1.565210e+11
4      0.000045  1.872945e-09  4.999894  2.299488  1.565410e+11
5      0.000045  1.872945e-09  4.999894  2.299488  1.565410e+11
6      0.000045  1.872945e-09  4.999894  2.299488  1.565480e+11
7      0.000045  1.874190e-09  4.999894  2.299488  1.565610e+11
8      0.000045  1.874190e-09  4.999894  2.299488  1.565610e+11
9      0.000045  1.875572e-09  4.999894  2.299488  1.565810e+11
10     0.000045  1.875572e-09  4.999894  2.299488  1.565810e+11
11     0.000045  1.875572e-09  4.999894  2.299487  1.565980e+11
12     0.000045  1.876817e-09  4.999894  2.299487  1.566010e+11
13     0.000045  1.876817e-09  4.999894  2.299487  1.566010e+11
14     0.000045  1.878200e-09  4.999894  2.299487  1.566210e+11
15     0.000045  1.878200e-09  4.999894  2.299487  1.566210e+11
16     0.000045  1.879447e-09  4.999894  2.299487  1.566410e+11
17     0.000045  1.879447e-09  4.999894  2.299487  1.566410e+11
18     0.000045  1.879447e-09  4.999894  2.299487  1.566490e+11
19     0.000045  1.880830e-09  4.999894  2.299487  1.566610e+11
20     0.000045  1.880830e-09  4.999894  2.299487  1.566610e+11
21     0.000045  1.882078e-09  4.999894  2.299487  1.566810e+11
22     0.000045  1.882078e-09  4.999894  2.299487  1.566810e+11
23     0.000045  1.882078e-09  4.999894  2.299486  1.566980e+11
24     0.000045  1.883463e-09  4.999894  2.299486  1.567010e+11
25     0.000045  1.883463e-09  4.999894  2.299486  1.567010e+11
26     0.000045  1.884711e-09  4.999894  2.299486  1.567210e+11
27     0.000045  1.884711e-09  4.999894  2.299486  1.567210e+11
28     0.000045  1.886097e-09  4.999894  2.299486  1.567410e+11
29     0.000045  1.886097e-09  4.999894  2.299486  1.567410e+11
...         ...           ...       ...       ...           ...
14027  6.235862  4.609609e+00 -1.174472 -2.445566  2.734010e+11
14028  6.235862  4.609609e+00 -1.174478 -2.445562  2.734210e+11
14029  6.235862  4.609609e+00 -1.174478 -2.445562  2.734210e+11
14030  6.235862  4.609609e+00 -1.174507 -2.445546  2.734410e+11
14031  6.235862  4.609609e+00 -1.174507 -2.445546  2.734410e+11
14032  6.235862  4.609609e+00 -1.174522 -2.445537  2.734480e+11
14033  6.235862  4.609609e+00 -1.174556 -2.445518  2.734610e+11
14034  6.235862  4.609609e+00 -1.174556 -2.445518  2.734610e+11
14035  6.235862  4.609609e+00 -1.174621 -2.445481  2.734810e+11
14036  6.235862  4.609609e+00 -1.174621 -2.445481  2.734810e+11
14037  6.235862  4.609609e+00 -1.174687 -2.445444  2.734980e+11
14038  6.235862  4.609609e+00 -1.174700 -2.445437  2.735010e+11
14039  6.235862  4.609609e+00 -1.174700 -2.445437  2.735010e+11
14040  6.235863  4.609609e+00 -1.174789 -2.445387  2.735210e+11
14041  6.235863  4.609609e+00 -1.174789 -2.445387  2.735210e+11
14042  6.235863  4.609609e+00 -1.174884 -2.445333  2.735410e+11
14043  6.235863  4.609609e+00 -1.174884 -2.445333  2.735410e+11
14044  6.235863  4.609609e+00 -1.174924 -2.445311  2.735490e+11
14045  6.235863  4.609609e+00 -1.174983 -2.445277  2.735610e+11
14046  6.235863  4.609609e+00 -1.174983 -2.445277  2.735610e+11
14047  6.235863  4.609609e+00 -1.175083 -2.445220  2.735810e+11
14048  6.235863  4.609609e+00 -1.175083 -2.445220  2.735810e+11
14049  6.235863  4.609609e+00 -1.175167 -2.445172  2.735980e+11
14050  6.235864  4.609608e+00 -1.175179 -2.445165  2.736010e+11
14051  6.235864  4.609608e+00 -1.175179 -2.445165  2.736010e+11
14052  6.235864  4.609608e+00 -1.175269 -2.445114  2.736210e+11
14053  6.235864  4.609608e+00 -1.175269 -2.445114  2.736210e+11
14054  6.235864  4.609608e+00 -1.175350 -2.445067  2.736410e+11
14055  6.235864  4.609608e+00 -1.175350 -2.445067  2.736410e+11
14056  6.235864  4.609608e+00 -1.175375 -2.445053  2.736480e+11

[14057 rows x 5 columns]