In [13]:
import pandas as pd
import math
import matplotlib.pyplot as plt
#matplotlib inline

In [14]:
odom_pos = pd.read_json('../tmp_datas/odom_pos.json')
real_pos = pd.read_json('../tmp_datas/real_pos.json')

In [15]:
DELTA_TIME = 2 * 10**9

In [16]:
odom_pos.head()

           time         x         y
0  566548000000  9.390676 -0.027993
1  566548000000  9.389885 -0.027879
2  566560000000  9.389885 -0.027879
3  566560000000  9.389885 -0.027879
4  566569000000  9.389885 -0.027879

In [17]:
real_pos['x'] = 5 - real_pos['x']
real_pos['y'] = 2.3 - real_pos['y']

real_pos.head()

           time         x         y
0  566472000000  9.314989  0.115175
1  566472000000  9.314990  0.115175
2  566472000000  9.314989  0.115175
3  566472000000  9.314989  0.115176
4  566472000000  9.314989  0.115175

In [18]:
initial_time = odom_pos.iloc[0]['time']
initial_time

566548000000.0

In [20]:
end_time = odom_pos.iloc[-1]['time']
end_time

736345000000.0

In [36]:
search_region = 20000
for time in range(int(initial_time), int(end_time), DELTA_TIME):
    df = real_pos[(real_pos['time']>=time) & (real_pos['time']<time+search_region)].copy()
    if df.empty:
        continue
    real_x = df['x'].mean()
    real_y = df['y'].mean()
    df = odom_pos[(odom_pos['time']>=time) & (odom_pos['time']<time+DELTA_TIME)]
    past_pos = []
    delta_x = []
    delta_y = []
    for idx, row in df.iterrows():
        if idx==0:
            delta_x.append(0)
            delta_y.append(0)
            past_pos = [row['x'], row['y']]
        else:
            delta_x.append(row['x'] - past_pos[0])
            delta_y.append(row['y'] - past_pos[1])
            past_pos = [row['x'], row['y']]
    df['delta_x'] = pd.DataFrame(delta_x)
    
    print("real_x: {0}, real_y: {1}".format(real_x, real_y))
    print(df)

real_x: 9.314996703461777, real_y: 0.11517425272689197
             time         x         y   delta_x
0    566548000000  9.390676 -0.027993  0.000000
1    566548000000  9.389885 -0.027879 -0.000791
2    566560000000  9.389885 -0.027879 -0.000791
3    566560000000  9.389885 -0.027879 -0.000791
4    566569000000  9.389885 -0.027879 -0.000791
5    566580000000  9.389885 -0.027879 -0.000791
6    566580000000  9.389885 -0.027879 -0.000791
7    566600000000  9.389885 -0.027879 -0.000791
8    566619000000  9.389885 -0.027879 -0.000791
9    566620000000  9.389885 -0.027879 -0.000791
10   566620000000  9.389885 -0.027879 -0.000791
11   566621000000  9.389886 -0.027879 -0.000791
12   566640000000  9.389886 -0.027879 -0.000791
13   566660000000  9.389886 -0.027879 -0.000791
14   566664000000  9.389886 -0.027879 -0.000791
15   566665000000  9.389886 -0.027879 -0.000791
16   566669000000  9.389886 -0.027879 -0.000791
17   566680000000  9.389886 -0.027879 -0.000791
18   566700000000  9.389886 -0.027879 -0.000791
19   566708000000  9.387218 -0.027399 -0.003459
20   566709000000  9.392419 -0.028053  0.001743
21   566720000000  9.392419 -0.028053  0.001743
22   566720000000  9.392419 -0.028053  0.001743
23   566740000000  9.392419 -0.028053  0.001743
24   566752000000  9.389964 -0.027832 -0.000712
25   566753000000  9.386356 -0.027308 -0.004320
26   566760000000  9.386356 -0.027308 -0.004320
27   566769000000  9.386356 -0.027308 -0.004320
28   566780000000  9.386356 -0.027308 -0.004320
29   566796000000  9.386921 -0.027419 -0.003755
..            ...       ...       ...       ...
212  568319000000  9.384947 -0.027478 -0.005729
213  568320000000  9.384947 -0.027478 -0.005729
214  568335000000  9.384947 -0.027478 -0.005729
215  568335000000  9.384947 -0.027478 -0.005729
216  568340000000  9.384947 -0.027478 -0.005729
217  568360000000  9.384947 -0.027478 -0.005729
218  568369000000  9.384947 -0.027478 -0.005729
219  568379000000  9.384947 -0.027478 -0.005729
220  568379000000  9.384947 -0.027478 -0.005729
221  568380000000  9.384947 -0.027478 -0.005729
222  568400000000  9.384947 -0.027478 -0.005729
223  568419000000  9.384947 -0.027478 -0.005729
224  568420000000  9.384947 -0.027478 -0.005729
225  568423000000  9.384947 -0.027478 -0.005729
226  568423000000  9.384947 -0.027478 -0.005729
227  568423000000  9.384947 -0.027478 -0.005729
228  568440000000  9.384947 -0.027478 -0.005729
229  568460000000  9.384947 -0.027478 -0.005729
230  568466000000  9.384947 -0.027478 -0.005729
231  568467000000  9.384947 -0.027478 -0.005729
232  568470000000  9.384947 -0.027478 -0.005729
233  568480000000  9.384947 -0.027478 -0.005729
234  568480000000  9.384947 -0.027478 -0.005729
235  568500000000  9.384947 -0.027478 -0.005729
236  568500000000  9.384947 -0.027478 -0.005729
237  568519000000  9.384947 -0.027478 -0.005729
238  568520000000  9.384947 -0.027478 -0.005729
239  568540000000  9.384947 -0.027478 -0.005729
240  568542000000  9.384948 -0.027478 -0.005729
241  568542000000  9.384948 -0.027478 -0.005729

[242 rows x 4 columns]

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

IndexError: list index out of range

In [ ]:
    past_pos = []
    for idx, row in df.iterrows():
        if past_pos == []:
            df.iloc[idx]['x'] = real_x
            df.iloc[idx]['y'] = real_y
            past_pos = [row['x'],row['y']]
        else:
            df.iloc[idx]['x'] = df.iloc[idx-1]['x']+(row['x']-past_pos[0])
            df.iloc[idx]['y'] = df.iloc[idx-1]['y']+(row['y']-past_pos[1])
            past_pos = [row['x'],row['y']]